* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Marianka';
  src: local('Marianka'), url(./public/Marianka-Regular.ttf) format('truetype');
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  list-style-position: outside;
  color: #666666;
}

body a {
  text-decoration: none;
}

a:focus,
div:focus {
  outline: none;
  opacity: 55%;
}

main {
  line-height: 1.6;
  text-align: center;
}

main a {
  color: #9d65be;
  font-weight: bold;
}

main a:hover {
  color: #65478b;
}

.mainOstatni {
  padding-top: 5vh;
  padding-bottom: 10vh;
  background-color: #fdfdec;
}

.mainTextCont {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding-top: 1vh;
  padding-bottom: 10vh;
  background-color: #fdfdec;
  min-height: 80vh;
}

.mainText {
  text-align: justify;
  grid-column: 2/3;
  z-index: 2;
  margin-top: 6vh;
}
.mainText h1 {
  text-align: center;
}

.nazev {
  margin-bottom: 9vh;
}

main p {
  margin-bottom: 2vh;
}

main h1 {
  margin-top: 4vh;
  margin-bottom: 5vh;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}
main h2 {
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}

main h3 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}

main h4 {
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}

button {
  border-style: none;
  font-size: 1em;
  line-height: 1.5;
  color: #fdfdec;
  text-decoration: none;
}

.button {
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: black;
  cursor: pointer;
  background-color: #fdfdec;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  padding: 0.5rem;
  border: solid;
  border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNav_awl5dy.png')
    38 repeat;
  border-width: 20px;
  border-image-outset: 3px;

  font-weight: normal;
  margin-top: 2vh;
}
.button:hover {
  background-color: #eeeed3;
  color: black;
}

table {
  margin-bottom: 2vh;
}

td {
  padding: 0.3vw;
  padding-right: 2vw;
}
tr:nth-child(even) {
  background-color: #f0f0de;
}

.disabled {
  opacity: 0;
  transition: opacity 1s;
}

.active {
  opacity: 100;
  transition: opacity 2s;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  position: fixed;
  width: 100vw;
  max-height: 10vh;
  justify-content: space-around;
  text-align: left;
  align-items: center;
  background: rgba(253, 253, 236, 0.9);
  z-index: 50;
}
.navLink {
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  color: black;
  text-transform: uppercase;
  min-width: 9.3vw;
}
.navLink p {
  padding-left: 0.6vw;
  padding-right: 0.4vw;
}

.navLinks {
  width: 50%;
}

.navLinkActive {
  background-color: rgba(218, 218, 202, 0.2);
}

.navLinks a {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.3rem;
}

.navLinks a:hover {
  background-color: rgba(240, 240, 224, 0.25);
}

.caraNav {
  width: 130%;
  position: fixed;
  top: 9.3vh;
  left: -2vw;
  pointer-events: none;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5vh;
}

.logoText img {
  max-height: 8vh;
  margin-top: 0.5vh;
}

.logoText h1 {
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}
.logoText h4 {
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}

.logoCont {
  height: 7vh;
  margin-right: 1vw;
}

.logo img {
  height: 100%;
}

.navLinks ul {
  list-style: none;
  display: flex;
}

.navLinks ul li {
  position: relative;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .navLinks li:hover .subNav li {
    top: 0;
    display: block;
  }
}

.subNavLi {
  display: none;
  height: 0%;
  position: relative;
}

.subNavActive {
  top: 0;
  display: block;
  position: relative;
}

.show {
  display: block;
}

.subNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(250, 250, 233, 0.98);
}

.burger-container {
  display: none;
}

.burger {
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 0.3rem;
  border-radius: 1px;
  background-color: rgba(50, 50, 50, 0.9);
}

.spacer {
  display: none;
}

.navSpacerAtTheTop {
  width: 100%;
  min-height: 10vh;
  background-color: #fdfdec;
}

.sideNavSpacer {
  display: none;
}

.fotoCont {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.fotoContImg {
  max-width: 100%;
  background-repeat: no-repeat;
  background-image: url(./public/LH_ramecek_foto.png),
    url(./public/LD_ramecek_foto.png), url(./public/PH_ramecek_foto.png),
    url(./public/PD_ramecek_foto.png);
  background-position: left top, left bottom, right top, right bottom;
  background-size: 25px;
}
.fotoCont img {
  max-height: 80vh;
  max-width: 100%;
  border-radius: 60px;
}

.portait {
  width: 60%;
}

/* PAGES */

.Footer2 {
  background-color: #fdfdec;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  align-items: center;
}

.upCont {
  grid-column: 3/4;
  cursor: pointer;
  display: flex;
  justify-content: center;

  background-color: transparent;
}
.up {
  padding: 5px 12px 5px 12px;
  transform: rotate(180deg);
  color: black;
  border: solid;
  border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNav_awl5dy.png')
    38 repeat;
  border-image-width: 20px;
  border-image-outset: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up img {
  height: 4vh;
}
.up:hover {
  background-color: rgba(238, 238, 207, 0.8);
}

.copyright {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.copyright h3 {
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}

.FooterD {
  background-color: #f4e1ff;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 25vh 8vw 3vh 8vw;
  border-top: solid;
  border-bottom: solid;
  border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNav_awl5dy.png')
    38 repeat;
  border-width: 20px;
  border-image-outset: 1px;
}

.Footer ul {
  list-style: none;
  line-height: 2.5;
  text-align: left;
}

.Footer h4 {
  margin-bottom: 1vh;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: black;
}

.FooterD img {
  width: 8vw;
}

.FooterD img:hover {
  opacity: 0.8;
}

.FooterM {
  display: none;
}

.footerInfo {
  border: solid;
  border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNav_awl5dy.png')
    38 repeat;
  border-width: 20px;
  border-image-outset: 3px;
  background-repeat: no-repeat;
  background-image: url(./public/LH_ramecek_foto.png),
    url(./public/LD_ramecek_foto.png), url(./public/PH_ramecek_foto.png),
    url(./public/PD_ramecek_foto.png);
  background-position: left top, left bottom, right top, right bottom;
  background-size: 25px;
  background-color: #fdfdec;
  padding: 1.2vw 2.3vw 1vw 2.3vw;
}

.footerInfo a {
  color: black;
}
.footerInfo a:hover {
  color: rgb(63, 63, 63);
}

.girlanda {
  background-color: #fdfdec;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3vh 0 0vh 0;
  margin-bottom: -30vh;
}
.girlanda img {
  width: 80%;
}

.girlanda img:hover {
  opacity: 100;
}

.caraNadpis {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 10vh;
}

.uvodAktuality {
  background-color: #fdfdec;
  padding-bottom: 8vh;
}

.pozadiFixed {
  position: fixed;
  width: 100%;
  bottom: 48%;
  left: 50%;
  margin-bottom: -50vh;
  margin-left: -50vw;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

.pozadiPrazdneContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  text-align: left;
  padding-bottom: 4vh;
  padding-top: 4vh;
}
.pozadiPrazdne {
  background-repeat: no-repeat;
  background-image: url(./public/LH_B.png), url(./public/LD_B.png),
    url(./public/PH_B.png), url(./public/PD_B.png);
  background-position: left top, left bottom, right top, right bottom;
  background-size: 25px;

  grid-column: 2/3;
  color: #fdfdec;
  font-size: 1.3em;
}

.pozadiPrazdne h1 {
  margin-bottom: 2vh;
  color: #fdfdec;
}

.odrazkyUvodContainer {
  display: grid;
  grid-template-columns: 200fr 1fr 200fr;
  grid-column-gap: 2vw;
  grid-template-rows: auto auto auto auto;
  padding: 5vh 10vh 2vh 10vh;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 60px;
}

.caraNadpisOdrazky {
  grid-column: 1/4;
  grid-row: 2/3;
  width: 100%;
  text-align: center;
  margin-bottom: 10vh;
}

.odrazkyUvodContainer li {
  font-size: 16px;
}
.odrazkyUvodContainer ul {
  list-style: none;
  margin-left: 0;
}
.odrazkyUvodContainer h1 {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}
.odrazkyUvodContainer h3 {
  color: #fdfdec;
}
.odrazkyUvodContainer a {
  color: #fdfdec;
}
.odrazkyGrid1 {
  text-align: right;
  grid-column: 1/2;
  grid-row: 2/3;
}

.odrazkyGrid2 {
  text-align: left;
  grid-column: 3/4;
  grid-row: 2/3;
}
.odrazkyGrid3 {
  text-align: right;
  grid-column: 1/2;
  grid-row: 3/4;
}

.odrazkyGrid4 {
  text-align: left;
  grid-column: 3/4;
  grid-row: 3/4;
}
.caraOdrazky {
  border-left: 2px solid white;
  grid-column: 2/3;
  grid-row: 2/4;
  height: 100%;
}

.odrazkyZaver {
  grid-column: 1/4;
  grid-row: 4/5;
  text-align: center;
  margin-top: 2vh;
}

.uvodSlider {
  text-align: center;
  display: flex;
  justify-content: center;
}

.uvodSlider img {
  position: relative;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.sipkaCont {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 10vh;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.sipka {
  color: rgb(253, 253, 236);
  padding: 10px 12px 10px 12px;
  margin-bottom: 2vh;
  margin-right: 2vh;
  cursor: pointer;
  border: solid;
  border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNavB_eki38n.png')
    38 repeat;
  border-image-width: 23px;
  border-image-outset: 3px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sipka:hover {
  background-color: rgba(253, 253, 236, 0.2);
}
.sipka img {
  height: 55px;
}

.vitejteCont {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 90vh;
  top: 10vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  text-align: center;
  color: rgb(253, 253, 236);
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
.vitejte {
  position: relative;
  color: rgb(253, 253, 236);
  text-align: center;
  top: -5vh;
  font-size: 6vh;
}

.UvodTextCont {
  padding-top: 5vh;
  margin-left: 2vw;
  margin-right: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}
.UvodTextLogo {
  grid-column: 2/3;
}
.UvodText {
  text-align: left;
  grid-column: 3/4;
  padding-left: 2vw;
}
.UvodText h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}

.sponzoriCont {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 5vh;
  grid-gap: 4vh;
  text-align: center;
}
.sponzoriCont img {
  height: 8vh;
}

.sponzoriCont div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 4vh;
}

.andelCont {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 8vh;
}
.andel {
  grid-column: 2/3;
}

.andelObrazek {
  position: relative;
}

.andelObrazek img {
  width: 100%;
}
.dotkni {
  position: absolute;
  top: 10%;
  left: 65%;
  z-index: 3;
  opacity: 0;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  transition: opacity 1s ease;
}
.andelObrazek:hover .dotkni {
  opacity: 1;
}
.trup {
  z-index: 2;
}

.hlava {
  position: absolute;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease;
}
.hlava:hover {
  opacity: 1;
}
.kridla {
  position: absolute;
  top: 0px;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 0;
}
.kridlaActive {
  opacity: 0;
  z-index: 0;
}

.ONas {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}
.ONasText {
  grid-column: 2/3;
  text-align: left;
  list-style-position: inside;
}

.ONasText h1 {
  text-align: center;
}

.loginCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.loginCont input {
  border: none;
  border-radius: 0.3rem;
  background-color: lightgrey;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.sponzoriCont {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 5vh;
  grid-gap: 4vh;
  text-align: center;
}
.sponzoriCont img {
  height: 8vh;
}

.sponzoriCont div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 4vh;
}

.kontaktContM {
  display: none;
  list-style: none;
}

.kontaktContD {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8vh;
  text-align: left;
}

.kontaktContD ul {
  list-style: none;
}

.kontaktA {
  grid-column: 1/2;
  text-align: right;
}

.kontaktB {
  grid-column: 2/3;
  text-align: left;
}

.kontaktB ul {
  margin-left: 0;
}

.mapouterD {
  float: right;
  display: block;
}

.mapouterM {
  display: none;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* AKTUALITY */
.aktualityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fdfdec;
}

.pagination {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.pageLink {
  position: relative;
  display: block;
  padding: 0.8rem 1.3rem;
  margin-left: -1px;

  text-decoration: none;
  text-align: center;
  width: 100%;
  color: black;
  cursor: pointer;
  background-color: transparent;
  font-family: Marianka, 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  border: solid;
  border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNav_awl5dy.png')
    38 repeat;
  border-image-width: 20px;
  border-image-outset: 3px;
  font-weight: normal;
  margin-top: 2vh;
}

.pageLink:hover {
  background-color: #e6bbff;
  color: black;
}

.pageLinkActive {
  background-color: #f4e1ff;
}

.pageLinkDisabled {
  cursor: default;
}
.pageLinkDisabled:hover {
  background-color: #ebebc7;
}

.pageItem:first-child .pageLink {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pageItem:last-child .pageLink {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.aktuality {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
  grid-gap: 4vw;
  margin-bottom: 6vh;
}

.aktualitaZastupce {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin: 1vw;
  border: solid;
  border-image: url(./public/caraNav12.png) 38 repeat;
  border-width: 20px;
  border-image-outset: -20px;
  background-color: #fdfdec;
  padding: 4vh;
}

.aktualitaPozadi1 {
  background-image: url(./public/slez51.png);
  background-position: -8vw -4.5vh;
  background-repeat: no-repeat;
  background-size: 800px;
}
.aktualitaPozadi2 {
  background-image: url(./public/zvonek56.png);
  background-position: -16vw -40vh;
  background-repeat: no-repeat;
  background-size: 1100px;
}
.aktualitaPozadi3 {
  background-image: url(./public/siska45.png);
  background-position: -3vw -2vh;
  background-repeat: no-repeat;
  background-size: 900px;
}
.aktualitaPozadi4 {
  background-image: url(./public/kvitek56.png);
  background-position: -12vw -10vh;
  background-repeat: no-repeat;
  background-size: 800px;
}
.aktualitaPozadi5 {
  background-image: url(./public/lisejnik54.png);
  background-position: -30vw -2vh;
  background-repeat: no-repeat;
  background-size: 1200px;
}
.aktualitaPozadi6 {
  background-image: url(./public/jetel58.png);
  background-position: -10vw -6vh;
  background-repeat: no-repeat;
  background-size: 700px;
}

.aktualitaZastupceNadpis {
  flex-grow: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  color: black;
}

.aktualitaZastupceText {
  flex-grow: 3;
  padding-top: 5vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.aktualitaZastupce img {
  padding-bottom: 1vh;
  max-height: 50vh;
  max-width: 100%;
}
.aktualitaZastupceImg {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aktualitaZastupce img:hover {
  opacity: 0.5;
}

.aktualitaZastupce .button {
  flex-grow: 0;
  background-color: transparent;
  color: black;
  margin-top: 10px;
  width: 100%;
  font-weight: normal;
}

.aktualitaZastupce .button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.aktualitaZastupce li {
  list-style-position: inside;
}

.aktualitaZastupceText p {
  margin-bottom: 0px;
}

.aktualitaZastupceText a {
  color: #59008d;
  font-weight: bold;
}

.aktualitaZastupceText a:hover {
  color: #7b37a3;
}

.aktualitaOverlay {
  position: absolute;
  background-color: transparent;
  width: 100%;
  top: 0;
  left: 0;
}

.aktualitaButton {
  margin-top: 0;
}

.aktualita {
  width: 30%;
  margin: 1vw;
  border: solid;
  border-image: url(./public/caraNav12.png) 38 repeat;
  border-width: 20px;
  border-image-outset: -20px;
  background-color: #fdfdec;
  text-align: left;
  padding: 4vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.aktualitaNadpis {
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
}
.aktualitaImg {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.aktualitaImgCont {
  background-repeat: no-repeat;
  background-image: url(./public/LH_ramecek_foto.png),
    url(./public/LD_ramecek_foto.png), url(./public/PH_ramecek_foto.png),
    url(./public/PD_ramecek_foto.png);
  background-position: left top, left bottom, right top, right bottom;
  background-size: 25px;
}

.aktualitaText {
  padding-top: 2vh;
  margin-bottom: 4vh;
  color: black;
}

.aktualita img {
  max-height: 50vh;
  max-width: 100%;
  border-radius: 60px;
}

.aktualita .button:hover {
  background-color: #f2e4ff;
}
.aktualita .button {
  flex-grow: 0;
  background-color: #fdfdec;
  color: black;
  width: 100%;
  font-weight: normal;
}

.aktualita li {
  margin-left: 35px;
  list-style-position: inside;
}

.loading {
  background-color: #fdfdec;
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.zastupce {
  height: 33vw;
  border-style: solid;
}
.fotoContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background-color: #fdfdec;
}

.foto {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 2vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 0;
}

.fotoImgCont {
  background-repeat: no-repeat;
  background-image: url(./public/LH_ramecek_foto.png),
    url(./public/LD_ramecek_foto.png), url(./public/PH_ramecek_foto.png),
    url(./public/PD_ramecek_foto.png);
  background-position: left top, left bottom, right top, right bottom;
  background-size: 25px;
}
.fotoImgCont img {
  max-height: 70vh;
  max-width: 50vw;
  cursor: pointer;
  border-radius: 60px;
}

/* CLENOVE TYMU */

.tym {
  padding-left: 5vw;
  padding-right: 5vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5vw 5vw;
}

.clenTymu {
  grid-area: auto;
  margin-bottom: 4vh;
}

.clenTymu h1 {
  margin-bottom: 3vh;
}

.clenTymu img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.clenTymuText {
  margin-top: 3vh;
  text-align: justify;
}

.odrazkyUvodContainer {
  display: grid;
  grid-template-columns: 200fr 1fr 200fr;
  grid-column-gap: 2vw;
  font-size: 19px;
  line-height: 300%;
  margin-bottom: 2vh;
  margin-top: 4vh;
}

.odrazkyUvodContainer h1 {
  grid-column: 1/4;

  text-align: center;
}
.odrazkySloupecA {
  text-align: right;
  grid-column: 1/2;
  list-style: none;
}

.cara {
  border-left: 2px solid white;
  grid-column: 2/3;
  height: 100%;
}
.odrazkySloupecB {
  text-align: left;
  grid-column: 3/4;
  list-style: none;
}

/* BIG TABLET NAV */

@media screen and (max-width: 1280px) {
  .navLinks {
    width: 70%;
  }
  .vitejteCont {
    font-size: 2rem;
  }
  .vitejte1 {
    left: 35%;
  }
  .vitejte2 {
    left: 33%;
  }

  .FooterD {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2vw;
    padding-top: 20vh;
    z-index: 5;
  }
  .girlanda {
    margin-bottom: -25vh;
  }
  .aktuality {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  .aktualitaZastupce img {
    padding-left: 1vw;
  }

  .aktualita {
    width: 40%;
  }

  .FooterD img {
    width: 20vw;
    margin-bottom: 5vh;
  }
  .Footer .fb {
    margin-bottom: 0vh;
  }
  .caraNav {
    width: 180%;
  }
  .pozadiPrazdneContainer {
    grid-template-columns: 1fr 4fr 1fr;
  }
}
/* TABLET NAV */

@media screen and (max-width: 1024px) {
  .navLinks {
    width: 90%;
    margin-right: 0.3vw;
  }
  .navLinks a {
    font-size: 15px;
  }

  .logoCont {
    height: 5vh;
    margin-top: 0.5vh;
    margin-right: 0.5vw;
  }
  .logo {
    width: 30%;
    justify-content: space-between;
    margin-left: 1vw;
    margin-top: 1vh;
  }

  .logoText img {
    max-height: 6vh;
    margin-top: 0.5vh;
  }
  .caraNav {
    width: 200%;
  }
  .mainTextCont {
    grid-template-columns: 1fr 8fr 1fr;
  }

  .aktualita {
    width: 50%;
  }

  .pozadiPrazdneContainer {
    grid-template-columns: 1fr 8fr 1fr;
  }
  .tym {
    grid-template-columns: auto auto;
  }
  .dekorace {
    display: none;
  }

  .foto img {
    max-width: 80vw;
  }
  .vitejte1 {
    position: relative;
    top: -6vh;
    left: auto;
  }
  .vitejte2 {
    position: relative;
    top: -3vh;
    left: auto;
  }
  .girlanda {
    margin-bottom: -20vh;
  }
}

/* MOBILE NAV */

@media screen and (max-width: 768px) {
  .mainTextCont {
    padding-bottom: 0;
  }
  .nav {
    min-height: 10vh;
  }
  .navLinks {
    position: fixed;
    right: -80%;
    height: 90vh;
    top: 10vh;
    background-color: rgba(253, 253, 236, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    transition: right 250ms ease;
    text-transform: uppercase;
  }
  .logoText a {
    font-size: 2.9vh;
  }
  .logoCont {
    height: 7vh;
    margin-top: 0vh;
    margin-right: 0vw;
  }
  .logoText img {
    max-height: 8vh;
    margin-top: 0.5vh;
  }
  .logo {
    margin-top: 1.5vh;
  }
  .navLinks a {
    width: 100%;
    text-align: center;
    min-height: 9vh;
    font-size: 16px;
  }
  .navLinks a:hover {
    background-color: rgba(180, 180, 180, 0.2);
  }

  .navLinks ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .subNav {
    z-index: 1;
  }

  .sideNavActive {
    right: 0%;
  }

  .burger-container {
    display: block;
    width: 25%;
  }
  .burger {
    display: block;
    float: right;
    margin-right: 4vw;
  }

  .sideNavSpacerActive {
    display: block;
    position: fixed;
    top: 10vh;
    width: 100%;
    height: 90vh;
    color: blue;
  }

  .spacer {
    display: block;
    width: 25%;
  }

  .logo {
    justify-content: center;
    width: 100%;
  }

  .logoText {
    text-align: center;
    margin-left: 2vw;
  }

  .caraNav {
    width: 300%;
  }

  .mainTextCont {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .sponzoriCont {
    grid-template-columns: auto auto;
  }

  .caraNadpis {
    margin-bottom: 5vh;
  }

  .aktualita {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .aktualitaTelo {
    display: flex;
    flex-direction: column;
  }

  .aktualitaText {
    padding-top: 2vh;
  }

  .aktualitaImg {
    max-width: 100%;
    padding-left: 0px;
    padding-bottom: 2vh;
  }
  .aktualitaNadpis {
    padding-bottom: 3vh;
  }

  .aktuality {
    grid-template-columns: auto;
    grid-auto-flow: row;
    padding-left: 16vw;
    padding-right: 16vw;
  }

  .aktualitaZastupceText {
    display: flex;
    flex-direction: column;
  }
  .aktualitaZastupceImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .aktualitaZastupceImg img {
    max-height: 50vh;
    max-width: 100%;
  }

  .odrazkyUvodContainer {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    font-size: 1.1em;
  }

  .caraOdrazky {
    display: none;
  }
  .odrazkyGrid1 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
  }
  .odrazkyGrid2 {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
  }
  .odrazkyGrid3 {
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: left;
  }
  .odrazkyGrid4 {
    grid-column: 2/3;
    grid-row: 7/8;
    text-align: left;
  }
  .odrazkyZaver {
    grid-column: 2/3;
    grid-row: 8/9;
    text-align: left;
  }

  .pozadiPrazdneContainer {
    grid-template-columns: 1fr 25fr 1fr;
  }

  .pozadiPrazdne {
    font-size: 1.1em;
  }
  .tym {
    grid-template-columns: auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .andelCont {
    grid-template-columns: 1fr 8fr 1fr;
  }
  .FooterD {
    display: none;
  }

  .FooterM img {
    width: 40vw;
    margin-top: 5vh;
    margin-bottom: 0vh;
  }
  .FooterM {
    padding-top: 15vh;
    background-color: #f4e1ff;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid;
    border-bottom: solid;
    border-image: url('https://res.cloudinary.com/tomastuser/image/upload/v1596880464/caraNav_awl5dy.png')
      38 repeat;
    border-width: 20px;
    border-image-outset: 2px;
  }
  .girlanda {
    margin-bottom: -10vh;
  }
  .footerInfo {
    padding: 4vw 2.3vw 4vw 2.3vw;
  }
  .FBLogo img {
    margin-top: 0vh;
  }
  .kontaktContD {
    display: none;
  }
  .kontaktContM {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .kontaktA {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .mapouterM {
    display: block;
    float: none;
    align-self: center;
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
  .mapouterD {
    display: none;
  }

  .UvodTextCont {
    grid-template-columns: 1fr 15fr 1fr;
  }
  .UvodTextLogo {
    grid-column: 2/3;
    padding-bottom: 2vw;
  }
  .UvodTextLogo img {
    max-width: 50vw;
  }
  .UvodText {
    grid-column: 2/3;
  }
  .UvodText h1 {
    text-transform: uppercase;
    font-size: 2em;
  }
  .Footer2 {
    grid-template-columns: 1fr 12fr 1fr;
  }
}

/* SMALL MOBILE NAV */

@media screen and (max-width: 450px) {
  .logo {
    margin-left: -2vw;
  }
  .logoText {
    text-align: left;
  }

  .burger-container {
    width: 25%;
  }
  .caraNav {
    width: 440%;
  }

  .aktualita {
    width: 90%;
  }

  .sponzoriCont {
    grid-template-columns: auto;
  }

  .odrazkyUvodContainer {
    padding: 5vh 4vw 2vh 4vw;
  }

  .aktualita img {
    max-height: none;
    max-width: 100%;
  }
  .aktuality {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .girlanda img {
    width: 100%;
  }
  .girlanda {
    padding-top: 5vh;
    margin-bottom: -5vh;
  }
  .FooterM {
    padding-top: 5vh;
  }
  .Footer2 {
    grid-template-columns: 1fr 5fr 1fr;
  }
}
